<!-- Start Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row"> 
        <!-- Start Footer Widgets -->
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">Sobre a Igreja</h4>
          <img src="../../assets/images/{{ config().logo}}" alt="Logo">
          <div class="spacer-20"></div>
          <p><strong>Endereço: </strong>
          {{ config().logradouro}} - {{ config().numero}} </p>
          <p>{{ config().bairro}}</p>
          <p>{{ config().cidade}}</p>
          <p>{{ config().estado}}</p>
        </div>
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">Menu</h4>
          <ul>
            <li><a href="/">Home</a></li>

                <li><a href="/post">Blog</a></li>
             
                <li><a href="/contato">Contato</a></li>

                <li><a href="/devocionais">Devocionais</a></li>
                
                <li><a href="/eventos">Eventos</a></li>    

                <li><a href="/galeria">Galerias</a></li>    
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">Igreja no Twitter</h4>
          <a class="twitter-timeline" data-lang="pt" data-width="300" data-height="300" data-theme="light" href="https://twitter.com/hpc_carlos?ref_src=twsrc%5Etfw">Tweets by hpc_carlos</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </footer>
  <footer class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="copyrights-col-left col-md-6 col-sm-6">
          <p>&copy; {{ config().titulo}}. All Rights Reserved</p>
        </div>
        <div class="copyrights-col-right col-md-6 col-sm-6">
          <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-youtube"></i></a> 
            <a href="#"><i class="fa fa-rss"></i></a> </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer --> 
  <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> </div>