<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- titulo do site -->
<title>{{ config().titulo}}</title>

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">

<!-- CSS
  ================================================== -->

<link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../assets/plugins/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
<link href="../../assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->

<!-- Color Style -->
<link href="../../assets/colors/color1.css" rel="stylesheet" type="text/css"> 
<link href="../../assets/css/custom.css" rel="stylesheet" type="text/css">

<!-- SCRIPTS
  ================================================== -->
<script src="../../assets/js/modernizr.js"></script><!-- Modernizr -->

<!-- google maps -->
<script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyA56cQO8ifAAk43anhaY9E5eJ0zD0Wc2Zs" type="text/javascript"></script>	


</head>