{% extends 'admin/layout.html' %}

{% block admin %}


<h2>{{ pagina }}</h2>


<form action="/adminCategoria/update"  class="needs-validation" enctype='multipart/form-data' method="POST" role="form">

 

    <div class="form-group">
    <label for="titulo">Categoria</label>
    <input type="hidden" name="id" value="{{ categoria.id }}">
    <input type="text" class="form-control" name="categoria"  value="{{ categoria.categoria }}">
  </div>
  {{ message('categoria')  }}

 

{% if admin() %}
<li>{{ admin().name}}</li>
  <div class="form-group">
    <input type="text" class="form-control" name="post_by" value="{{ admin().id}}">
  </div>
  {% endif %}

 

<button type="submit" class="btn btn-default">Salvar</button>

</form>

 

{% endblock %}